.cont-wrap {
  padding: 20px;
}

.connect-title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 18vw;
  font-family: sans-serif;
  color:transparent;
  text-align: justify;
  text-transform: uppercase;
  font-weight: bold;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.85), transparent) 
    -200% 50% / 200% 100% no-repeat;
  background-clip: text;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}
.get-div {
  margin-bottom: 50px;
}

.get-t {
  padding: 10px 30px;
  letter-spacing: 1px;
  font-weight: 800;
  font-family: monospace;
}

.desc-para {
  margin: 0 auto;
}

.cont-link {
  margin-top: 50px;
}
